/.idea/Deep-236781-Hw3.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/hw3/.ipynb_checkpoints/Part0_Intro-checkpoint.ipynb
/hw3/.ipynb_checkpoints/Part1_Sequence-checkpoint.ipynb
/hw3/hw3/__pycache__/__init__.cpython-38.pyc
/hw3/hw3/__pycache__/charnn.cpython-38.pyc
